<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg">
      <div>
        <h2>Welcome to Horgwarts School</h2>
      </div>
      <a [title]="wands" [routerLink]="['/wands', wands.id]">Varinhas</a>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr *ngFor="let house of houses">
            <!-- <td>{{ house.id }}</td> -->

            <td>
              <a [title]="house.members" [routerLink]="['/house', house.id]">
                <img src="{{ house.image_url }}" alt="Minha Figura" />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
