<app-spinner></app-spinner>
<h2>{{ house.name | uppercase }}</h2>
<div class="detalhes">
  <img src="{{ house.image_url }}" alt="Minha Figura" />
  <div><span>Members: </span>{{ house.members }}</div>
  <div><span>Founder: </span>{{ house.founder }}</div>
  <div><span>Animal: </span>{{ house.animal }}</div>
  <div><span>Traits: </span>{{ house.traits }}</div>
  <div><span>Element: </span>{{ house.element }}</div>
  <div><span>Colors: </span>{{ house.colors }}</div>
  <div><span>Ghost: </span>{{ house.ghost }}</div>
  <div><span>Common-room: </span>{{ house.common_room }}</div>
</div>
